<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/inicio">Inicio</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Nacional</li>
                </ol>
            </nav>
            <h1>Ultimas Noticias Nacional</h1>
            <div class="row m-3 border-top border-danger"></div>
            <app-category categoria='Nacional' class="text-center"></app-category>
        </div>
    </div>
</div>