<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h5>Coronavirus</h5>
      <div *ngIf = "topNoticiasVisitas[0].imagenURL">
        <img src="{{topNoticiasVisitas[0].imagenURL}}" class="d-block w-100" alt="topNoticiasVisitas[] Mas Vista Coronavirus">
      </div>
      <div *ngIf = "!topNoticiasVisitas[0].imagenURL">
        <img src="https://www.flaticon.es/svg/static/icons/svg/2346/2346897.svg" class="rounded mx-auto d-block" alt="topNoticiasVisitas[] Mas Vista Coronavirus">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>{{topNoticiasVisitas[0].titulo}}</h5>
        <p>{{topNoticiasVisitas[0].entradilla}}</p>
        <a class="btn btn-primary btnCambioColor" [routerLink]="['/inicio/noticia/', topNoticiasVisitas[0]._id]">Ver Noticia</a>
      </div>
    </div> 
    <div class="carousel-item">
      <h5>Nacional</h5>
      <div *ngIf = "topNoticiasVisitas[1].imagenURL">
        <img src="{{topNoticiasVisitas[1].imagenURL}}" class="d-block w-100" alt="topNoticiasVisitas[] Mas Vista Nacional">
      </div>
      <div *ngIf = "!topNoticiasVisitas[1].imagenURL">
        <img src="https://www.flaticon.es/svg/static/icons/svg/2346/2346897.svg" class="rounded mx-auto d-block" alt="topNoticiasVisitas[] Mas Vista Nacional">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>{{topNoticiasVisitas[1].titulo}}</h5>
        <p>{{topNoticiasVisitas[1].entradilla}}</p>
        <a class="btn btn-primary btnCambioColor" [routerLink]="['/inicio/noticia/', topNoticiasVisitas[1]._id]">Ver Noticia</a>
      </div>
    </div> 
    <div class="carousel-item">
      <h5>Internacional</h5>
      <div *ngIf = "topNoticiasVisitas[2].imagenURL">
        <img src="{{topNoticiasVisitas[2].imagenURL}}" class="d-block w-100" alt="topNoticiasVisitas[] Mas Vista Internacional">
      </div>
      <div *ngIf = "!topNoticiasVisitas[2].imagenURL">
        <img src="https://www.flaticon.es/svg/static/icons/svg/2346/2346897.svg" class="rounded mx-auto d-block" alt="topNoticiasVisitas[] Mas Vista Internacional">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>{{topNoticiasVisitas[2].titulo}}</h5>
        <p>{{topNoticiasVisitas[2].entradilla}}</p>
        <a class="btn btn-primary btnCambioColor" [routerLink]="['/inicio/noticia/', topNoticiasVisitas[2]._id]">Ver Noticia</a>
      </div>
    </div>
    <div class="carousel-item">
      <h5>Deportes</h5>
      <div *ngIf = "topNoticiasVisitas[3].imagenURL">
        <img src="{{topNoticiasVisitas[3].imagenURL}}" class="d-block w-100" alt="topNoticiasVisitas[] Mas Vista Deportes">
      </div>
      <div *ngIf = "!topNoticiasVisitas[3].imagenURL">
        <img src="https://www.flaticon.es/svg/static/icons/svg/2346/2346897.svg" class="rounded mx-auto d-block" alt="topNoticiasVisitas[] Mas Vista Deportes">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>{{topNoticiasVisitas[3].titulo}}</h5>
        <p>{{topNoticiasVisitas[3].entradilla}}</p>
        <a class="btn btn-primary btnCambioColor" [routerLink]="['/inicio/noticia/', topNoticiasVisitas[3]._id]">Ver Noticia</a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>