<div class="card m-2 border border-dark">
    <ng-container *ngIf='noticia.imagenURL'>
      <img width="400" height="190" src="{{noticia.imagenURL}}" class="card-img-top">
    </ng-container>
    <ng-container *ngIf='!noticia.imagenURL && noticia.videoURL'>
      <iframe width="285" height="190" [src]="getVideoIframe(noticia.videoURL)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ng-container>
    <ng-container *ngIf='!noticia.imagenURL && !noticia.videoURL && noticia.audioURL'>
      <iframe width="285" height="190" scrolling="no" frameborder="no" allow="autoplay" [src]="getAudioIframe(noticia.audioURL)"></iframe>
    </ng-container>
    <ng-container *ngIf='!noticia.imagenURL && !noticia.videoURL && !noticia.audioURL'>
      <img width="400" height="190" src="https://www.flaticon.es/svg/static/icons/svg/2346/2346897.svg" class="card-img-top">
    </ng-container>
    <div class="card-body">
      <h5 class="card-title module line-clamp">{{noticia.titulo}}</h5>
      <p class="card-text module line-clamp">{{noticia.entradilla}}</p>
      <a class="btn btn-primary btnCambioColor border border-dark" [routerLink]="['/inicio/noticia', noticia._id]">Ver Noticia</a>
    </div>
</div>