<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/inicio">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Noticias Exclusivas</li>
                </ol>
            </nav>
            <h1>Noticias Exclusivas para Usuarios Registrados</h1>
            <div class="row m-3 border-top border-danger"></div>
            <app-category-private class="text-center"></app-category-private>
        </div>
    </div>
</div>