.bd-navbar
    background-color: rgba(187, 20, 20, 0.966)
    text-emphasis-color: orange
    box-shadow: gray

.btnCambioColor 
    color: white
    background-color: rgb(187, 20, 20)
    border-color: white

.btnCambioColor:hover 
    color: white
    background-color: orange
    border-color: white

.titleColor 
    color: orange
