<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/inicio">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Nueva Noticia</li>
        </ol>
    </nav>
</div>

<div class="containerfluid mt-3">
    <legend>Nueva Noticia</legend>
    <form class="was-validated" [formGroup]="newNoticiaFormGroup" (ngSubmit)="addNoticia()">

        <label class="col-md-12 control-label" for="validationTextarea">Titulo de la Noticia</label><br>
        <input type="text" class="form-control" formControlName="titulo" placeholder="Ingrese aqui el titulo de la noticia" required/>
        <div id="errorTipeado" *ngIf="newNoticiaFormGroup.get('titulo').hasError('required') && newNoticiaFormGroup.get('titulo').touched">El titulo no puede estar vacio!</div>

        <br>

        <label class="col-md-12 control-label" for="validationTextarea">Descripcion de la Noticia</label><br>
        <input type="text" class="form-control" formControlName="entradilla" placeholder="Ingrese aqui la descripcion" required/>
        <div id="errorTipeado" *ngIf="newNoticiaFormGroup.get('entradilla').hasError('required') && newNoticiaFormGroup.get('entradilla').touched">La descripcion no puede estar vacia!</div>
        
        <br>

        <label class="col-md-12 control-label" for="validationTextarea">Link Imagen</label><br>
        <input type="text" class="form-control" formControlName="imagenURL" placeholder="Ejemplo: https://images2-mega.cdn.mdstrm.com/meganoticias/2020/09/23/_314261_1_5f6af2d5cf95e.jpg?d=950x535"/>
        <br>

        <label class="col-md-12 control-label" for="validationTextarea">Link Video</label><br>
        <input type="text" class="form-control" formControlName="videoURL" placeholder="Ejemplo: https://www.youtube.com/watch?v=_VXEcZz1Glg"/>
        <br>

        <label class="col-md-12 control-label" for="validationTextarea">Link Audio</label><br>
        <input type="text" class="form-control" formControlName="audioURL" placeholder="Link de Audio"/>
        <br>

        <label class="col-md-12 control-label" for="validationTextarea">Cuerpo de la Noticia</label><br>
        <textarea class="form-control" id="cuerpo" formControlName="cuerpo" placeholder="Ingrese aqui el cuerpo de la noticia" required></textarea>
        <div id="errorTipeado" *ngIf="newNoticiaFormGroup.get('cuerpo').hasError('required') && newNoticiaFormGroup.get('cuerpo').touched">El cuerpo de la noticia no puede estar vacia!</div>

        <br>
        <div class="row">
            <div class="col-md-6">
                <label class="col-md-1 control-label">Privacidad</label>
                <div class="col-md-9">
                    <div class="mb-3">
                        <select class="custom-select"  formControlName="privado" required>
                            <option value="">--Seleccione la privacidad de la noticia--</option>
                            <option value="1">Publico</option>
                            <option value="2">Privado</option>
                        </select>
                        <div id="errorTipeado" *ngIf="newNoticiaFormGroup.get('privado').hasError('required') && newNoticiaFormGroup.get('privado').touched">Debes seleccionar la privacidad!</div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <label class="col-md-1 control-label">Categoria</label>
                <div class="col-md-9">
                    <div class="mb-3">
                        <select class="custom-select"  formControlName="categoria" required>
                            <option value="">--Seleccione categoria de noticia--</option>
                            <option value="Coronavirus">Coronavirus</option>
                            <option value="Nacional">Nacional</option>
                            <option value="Internacional">Internacional</option>
                            <option value="Deportes">Deportes</option>
                        </select>
                        <div id="errorTipeado" *ngIf="newNoticiaFormGroup.get('categoria').hasError('required') && newNoticiaFormGroup.get('categoria').touched">Debes seleccionar una categoria!</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 offset-md-3">
            <label class="col-md-1 control-label">Publicacion</label>
            <select class="custom-select"  formControlName="estado" required>
                <option value="">--Seleccione el estado de publicacion de la noticia--</option>
                <option value="Edicion">Guardar y No Publicar</option>
                <option value="Aprobacion">Solicitar Publicacion</option>
            </select>
            <div id="errorTipeado" *ngIf="newNoticiaFormGroup.get('estado').hasError('required') && newNoticiaFormGroup.get('estado').touched">Debes seleccionar un estado de publicacion!</div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <button class="btn btn-warning" [disabled]="newNoticiaFormGroup.invalid" type="submit">Crear Noticia</button>
                <input class="btn btn-primary btnCambioColor m-2" onclick="location.href='#';" id="cancelar" name="cancelar" value="Cancelar">
            </div>
        </div>        
    </form>
</div>