<div class="container">
    <div class="row mt-2 border-top border-danger text-center">
        <div id="social" class="col-12">Redes Sociales</div>
        <div class="col-12">
            <a class="btn btnCambioColor border border-dark m-3" href="https://www.facebook.com/CamaronInfo" target="_blank" role="button">
                Facebook
                <i class="fab fa-facebook"></i>
            </a>
            <a class="btn btnCambioColor border border-dark m-3" href="https://twitter.com/InformacionesC6" target="_blank" role="button">
                Twitter
                <i class="fab fa-twitter"></i>
            </a>
            <a class="btn btnCambioColor border border-dark m-3" href="https://www.instagram.com/Informaciones.Camaron/" target="_blank" role="button">
                Instagram
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="col-12 text-center">
            <a class="btn btnCambioColor border border-dark m-2" href="/inicio/contacto" role="button">Contacto</a>
        </div>
    </div>
</div>