<div class="table-responsive text-center">
    <table class="table" id="tabla">
        <thead id="cabezera">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha Creacion</th>
                <th scope="col">Titulo</th>
                <th scope="col">Estado Publicacion</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor = "let noticia of noticias">
                <ng-container *ngIf = "noticia.autor === usuario.nick">
                    <tr>
                        <th class="align-middle" scope="row">{{noticia._id}}</th>
                        <td class="align-middle">{{noticia.createdAt | date: 'short'}}</td>
                        <td class="align-middle">{{noticia.titulo}}</td>
                        <td class="align-middle">{{noticia.estado}}</td>
                        <td>
                            <a class="btn btnCambioColor border border-dark align-middle m-1" role="button" id="btnAccion" [routerLink]="['/inicio/periodista/noticia', noticia._id]">Ver</a>
                            <a class="btn btnCambioColor border border-dark align-middle m-1" role="button" id="btnAccion" [routerLink]="['/inicio/periodista/alterNoticia', noticia._id]">Modificar</a>
                            <a class="btn btnCambioColor border border-dark align-middle m-1" role="button" id="btnAccion" (click)="deleteNoticia(noticia._id, noticia.titulo)">Eliminar</a>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
</div>