#tabla
    background-color: #8548175d

#cabezera
    background-color: rgba(187, 20, 20, 0.966)
    color: white

#btnAccion
    border-color: white
    height: 30px
    padding: 2px
    width: 90px

#sectionName
    color: rgb(187, 20, 20)
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-size: 25px

